{% extends "bookStoreApp/base.html" %}
{% load static %}
{% block content %}
    {% if request.user.is_authenticated %}
        <h3>{{ user }}</h3>
    {% endif %}

    <div style="display: flex; padding-top: 1rem; padding-bottom: .5em;">
        <div>
            {% for category in categories %}
                <a href="/?category={{category.name}}" class="nav-link">{{ category.name }}</a>
            {% endfor %}
        </div>
        <div class="container row">
        {% for book in book_list %}
            <div class="card" style="width: 18rem; margin: 1rem;">
                <img src="{{ book.cover_image }}" class="card-img-top" alt="book cover image">
                <div class="card-body">
                    <a href="{% url 'book_detail' book.id %}" target="_self"><h5 class="card-title">{{ book.title }}</h5></a>
                    <p class="card-text" style="font-size: 14px;">{{ book.description|slice:":100" }}...</p>
                    <p>{{ book.price }}</p>
                    {% if request.user.is_authenticated %}
                        <div style="display: flex; justify-content: space-between;">
                            <a href="{% url 'buy_book' book.id%}" class="btn btn-success" target="_blank">Buy</a>
                        </div>
                    {% else %}
                        <div style="display: flex; justify-content: space-between;">
                            <a href="{% url 'buy_book' book.id%}" class="btn btn-success" target="_self" onclick="return false;">Buy</a>
                        </div>
                    {% endif %}
                </div>
            </div>
            <!-- <b>Title:</b> <a href="{% url 'book_detail' book.id %}" target="_self">{{ book.title }}</a><br> -->
        {% endfor %}
        <div class="pagination">
            <span class="step_links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; First</a>
                    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                {% endif %}
            </span>
        </div>        
        </div>
    </div>
{% endblock %}