{% extends "bookStoreApp/base.html" %}
{% block content %}
    <div class="card mb-3" style="margin: 0.5rem 3rem; padding: 1rem 1rem;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ book.cover_image }}" class="img-fluid rounded-start" alt="book cover image">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h4 class="card-title">{{ book.title }}</h4>
                    <p class="card-text">{{ book.description }}</p>
                    <p class="card-text"><small class="text-body-secondary">updated at: {{book.updated_at}}</small></p>
                    <!-- <p class="card-text">{{ book.author.full_name}}</p> -->
                    <p class="card-text"><a href="{% url 'author_deatil' book.author.id %}">{{ book.author }}</a></p>
                    <p class="card-text">Categories: </p>
                    {% for category in book.categories.all %}
                        <ul>
                            <li>{{ category.name }}</li>
                        </ul>
                    {% endfor %}
                    <p>{{ book.price }}</p>
                    <a href="{% url 'buy_book' book.id%}" class="btn btn-success" target="_blank">Buy</a>
                    <br>
                    <br>Avg rating: {{ avg_rating }}<br>
                    Num rating: {{ review_number }}<br>
                    <br>
                    Reviews<br><br>
                    {% for review in reviews %}
                        <b>By: </b>{{ review.user }}<br>
                        <b>Rating: </b> {{ review.rating }}<br>
                        <b>Comment: </b> {{ review.comment }}<br>
                        <p class="card-text"><small class="text-body-secondary">{{ review.created_at }}</small></p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div style="margin: 0.5rem 3rem; padding: 1rem 1rem; display: flex;">
        <form action="{% url 'write_review' book.id %}" method="POST">
            <h4>Review</h4>
            <p>feel free to add your review</p>
            {% csrf_token %}
            <input type="hidden" value="{{ book.id }}" name="book">
            <input type="hidden" value="{{ user.id }}" name="user">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"></label>
              <input type="number" name="rating" placeholder="Rating value" max="10">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Your Comment</label>
              <br>
              <textarea name="comment" row="2" placeholder="here you can write you comments..."></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
{% endblock %}