{% extends "bookStoreApp/base_login_signup.html" %}
{% load static %}
{% block content %}
<div style="max-width: 400px; background-color: 
    whitesmoke; padding: 2em;
    border-radius: 2%;">
    <h3 style="text-align: center;">Login</h3><br>
    <form method="POST" class="row g-3">
        {% csrf_token %}
        <label for="userName" class="form-label">User Name</label>
        <input class="form-control" type="text" id="userName" name="username">
        <br>
        <label class="form-label" for="userPassword">Password</label>
        <input class="form-control" type="password" id="userPassword" name="password">
        <br>
        <button class="btn btn-primary" type="submit">Login</button>
        <p style="text-align: center;">Your first time, you can create an account <a href="/signup/">here</a></p>
        <input type="button" class="btn btn-secondary" onclick="location.href='/signup/';" value="Go to Sign up" />
        <!-- <button ></button> -->
        {% if messages %}
        <div style="text-align: center;">
            {% for message in messages %}
            <span style="padding: .05rem;">{{ message }}</span>
            {% endfor %}
        </div>
        {% endif %}
    </form>
</div>
{% endblock %}