<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <label for="userName">User Name</label>
        <input type="text" id="userName" name="username">
        <br>
        <label for="userPassword">User Password</label>
        <input type="password" id="userPassword" name="password">
        <br>
        <button type="submit">Login</button>
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </form>
</body>
</html>