{% extends "bookStoreApp/base_login_signup.html" %}
{% load static %}
{% block content %}
<div style="max-width: 400px; background-color: 
    whitesmoke; padding: 2em;
    border-radius: 2%;">
    <h3 style="text-align: center;">Login</h3><br>
    <form method="POST" class="row g-3">
        {% csrf_token %}
        <label for="userName" class="form-label">User Name</label>
        <input class="form-control" type="text" id="userName" name="username">
        <br>
        <label class="form-label" for="userPassword">User Password</label>
        <input class="form-control" type="password" id="userPassword" name="password">
        <br>
        <button class="btn btn-primary" type="submit">Login</button>
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </form>
</div>
{% endblock %}