{% extends "bookStoreApp/base_login_signup.html" %}
{% load static %}
{% block content %}
<div style="max-width: 600px; background-color: 
    whitesmoke; padding: 2em;
    border-radius: 2%;
    ">
    <h3 style="text-align: center;">SignUp</h3><br>
    <form method="POST" class="row g-3">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            {% if field.label_tag %}
                <span class="form-label">{{ field.label_tag}}</span>
            {% endif %}
            {{ field }}
            {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}            
        </div>
        {% endfor %}
        <!-- {{ form.as_p }} -->
        <button class="btn btn-primary" type="submit">Signup</button>
    </form>
</div>
{% endblock %}
